<?xml version="1.0"?>
<model>
  <name>x500_depth_custom</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Kanav</name>
    <email>kprashar@asu.edu</email>
  </author>
  <description>
    A custom x500_depth model with Odometry Publisher plugin.
  </description>
</model>
